/* Base Styles */
body {
  font-family: sans-serif;
}

/* Grid System */
.full-width {
  width: 1200px;
  margin: 0 auto;
}

.half-width {
  width: 600px;
  float: left;
}

/* Header */
header h1 {
  color: #891100;
  font-family: 'Times New Roman';
  font-size: 55px;
  text-align: center;
  border: 2px solid #891100;
  padding: 25px;
}

header nav {
  float: left;
  padding: 20px 0;
  background: #e4be82;
  text-align: center;
}

header nav ul li{
  display: inline-block;
}

header nav ul li a {
  text-decoration: none;
  padding: 15px;
  color: #891100;
  font-size: 20px;
  font-family: 'Times New Roman';
}

/* Birthday */
#birthday img{
  height: 950px;
  padding-bottom: 20px;
}

/* History */
#history {
  height: 500px;
}

#history .full-width {
  padding-bottom: 50px;
}

#history h2 {
  font-family: 'Times New Roman';
  color: #891100;
  font-size: 42px;
}

#history img {
  padding: 15px 0;
  height: 245px;
}

#history p {
  padding: 15px 0;
  font-size: 20px;
}

#history button {
  width: 150px;
  background: #891100;
  color: #e4be82;
}

/* Collections */
#collection-one, #collection-two {
  height: 500px;
}

#collection-one, #collection-two .full-width {
  padding-bottom: 15px;
}

/* Truly Me */
#today {
  height: 400px;
}

#today h2 {
  font-family: 'Times New Roman';
  color: #891100;
  font-size: 42px;
}

#today p {
  padding: 15px;
  font-size: 20px;
}

#today button {
  width: 150px;
  background: #891100;
  color: #e4be82;
}

/* Girl of the Year */
#year {
  height: 400px;
}

#year h2 {
  font-family: 'Times New Roman';
  color: #891100;
  font-size: 42px;
}

#year p {
  padding: 15px;
  font-size: 20px;
}

#year button {
  width: 150px;
  background: #891100;
  color: #e4be82;
}

/* Bitty Baby */
#baby {
  height: 400px;
}

#baby h2 {
  font-family: 'Times New Roman';
  color: #891100;
  font-size: 42px;
}

#baby p {
  padding: 15px;
  font-size: 20px;
}

#baby button {
  width: 150px;
  background: #891100;
  color: #e4be82;
}

/* Wellie Wishers */
#wellies {
  height: 400px;
}

#wellies h2 {
  font-family: 'Times New Roman';
  color: #891100;
  font-size: 42px;
}

#wellies p {
  padding: 15px;
  font-size: 20px;
}

#wellies button {
  width: 150px;
  background: #891100;
  color: #e4be82;
}

/* Footer Pages */
#footer-pages {
  height: 500px;
}

#footer-pages .full-width {
  padding: 20px 0;
}

#footer-pages nav {
  float: left;
  padding: 20px 0;
  background: #e4be82;
  text-align: center;
}

#footer-pages nav ul li {
  display: inline-block;
}

#footer-pages nav ul li a {
  text-decoration: none;
  padding: 15px;
  color: #891100;
  font-size: 20px;
  font-family: 'Times New Roman';
}

/* Footer */
footer {
  font-family: 'Times New Roman';
  font-size: 15px;
  color: #891100;
}
